.staatliches {
  font-family: 'Staatliches', cursive;
  font-weight: 900;  
}

.coustard {
  font-family: 'Coustard', serif;
  font-weight: 900; 
  
}


ion-content {
  display: flex;
  --background: url('../../assets/images/logo-page_BG04.jpg') center/cover fixed;
  --background-repeat: no-repeat;
}

ion-title { 
  font-size: 2.5rem;
}

.title {
  // justify-content: center;
  position: absolute;
  align-items: center;
  text-align: center;
  z-index : 2 ;
  --color :white;
  --box-shadow : 5px 0px 0px #ff26be , -5px 0px 0px #ffa125 ;
  --padding-start : 0px ;
  --padding-end : 0px ;
  --padding-top : 0px ;
  --padding-bottom : 0px ;
}