<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="staatliches">
      News Room
    </ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="earth-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <p>FR</p>
      </ion-fab-button>
      <ion-fab-button color="light">
        <p>US</p>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngFor="let article of articles">
    <ion-img src={{article.urlToImage}}></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ article.publishedAt | date }}</ion-card-subtitle>
      <ion-card-title color="primary">{{ article.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{ article.description }}</ion-card-content>
    <ion-card-content><a href="{{article.url}}" target="_blank">lien vers l'article</a> </ion-card-content>
  </ion-card>

</ion-content>
